* {
    margin: 0px;
    padding: 0px;
}

body { /* White background colour */
    background-color: white;
}

#header { /* Blue header colour at the top */
    background-color: blue;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0px;
    padding: 0px;
}

#Title { /* Lightskyblue color for the background and darkblue color for the text */
    background-color: lightskyblue;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0px;
    padding: 0px;
    text-align: center;
    color: darkblue
}

#header a { /* Lime colour text for the navigation bar */
    display: inline-block;
    position: relative;
    width: 19vw;
    text-align: center;
    text-decoration: none;
    color: lime;
}

#Footer { /* This is for the footer */
    height: 5vh;
    width: 100vw;
    background-color: darkblue;
    bottom: 0vh;
    position: fixed;
    color: lime;
    ;
    text-align: center;
    vertical-align: middle;
}

.phoneimage { /* This is for the phone image positioning*/
    position: relative;
    height: 30vw;
    width: 30vw;
    float: left;
    margin-top: 2vh;
    margin-bottom: 4vh;
}

#maincontents { /* This is for the text field "Your basket is empty" */
    text-align: center;
    margin-top: 7vh;
}

.basketText { /* This is for the basket text */
    margin-bottom: 1%;
}

.deleteText { /* This is for the basket delete text */
    color: red; 
    text-decoration: none;
}

.itemWrapper { /* This is for the basket item wrapper */
    border-style: solid; 
    margin-right: 80%; 
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.checkoutButton {  /* This is for the checkout button */
    font-size: 2em;
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 0.5%;
    border-radius: 5%;
}


.inputBox { /* This is for input boxes */
    font-size: 1em;
    padding: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-right: 1%;
}

